<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Artist</title>
    <link rel="stylesheet" href="/static/actors/new.css">
</head>
<body>
    <div>
        <h1>Insert New Artist Data</h1>
        <form method="post" th:action="@{/artists/addNew}" th:object="${artist}">
            <input type="text" th:field="*{firstName}" placeholder="First Name"/> <br/> <br/>
            <input type="text" th:field="*{lastName}" placeholder="Last Name"/> <br/> <br/>
            <input type="text" th:field="*{information}" placeholder="About"/> <br/> <br/>
            <input type="submit" value="Save New Artist"/>
        </form>
    </div>
</body>
</html>